/* Basic styles for weather widget */

.weather-widget {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
}

.weather-widget .weather-icon {
    width: 27px;
    height: 27px;
}

.weather-widget.unavailable {
    font-style: italic;
}
